<footer class="footer" id="footer">
    <div class="footer-btn">
        <a href="#hero"> <img class="footer-btn-img" src="./assets/images/ico-arrow.svg" title="arrow icon"
                alt="arrow icon"></a>
    </div>
    <nav class="footer-nav">
        <ul>
            <li><a class="footer-nav-a" href="https://adalab.es/">zapatillas</a></li>
            <li><a class="footer-nav-a" href="https://adalab.es/">ropa</a></li>
            <li><a class="footer-nav-a" href="https://adalab.es/">niño/a</a></li>
            <li><a class="footer-nav-a" href="https://adalab.es/">destacados</a></li>
            <li><a class="footer-nav-a" href="https://adalab.es/">tips</a></li>
        </ul>
    </nav>
    <nav class="footer-nav">
        <ul>
            <li><a class="footer-nav-a" href="https://adalab.es/">twitter</a></li>
            <li><a class="footer-nav-a" href="https://adalab.es/">instagram</a></li>
            <li><a class="footer-nav-a" href="https://adalab.es/">youtube</a></li>

        </ul>
    </nav>

    <div class="footer-div">
        <span class="footer-div-span ">&copy 2023</span>
        <span class="footer-div-span ">we🧡run</span>
    </div>

</footer>