<footer class="footer" id="footer">
    <div class="btn">
        <a href="#hero"> <img class="btn-img" src="./assets/images/ico-arrow.svg" title="arrow icon"
                alt="arrow icon"></a>
    </div>
    <div class="content">
        <div class="content-links">
            <nav class="content-links-nav">
                <ul>
                    <li><a class="content-links-nav-a" href="https://adalab.es/">zapatillas</a></li>
                    <li><a class="content-links-nav-a" href="https://adalab.es/">ropa</a></li>
                    <li><a class="content-links-nav-a" href="https://adalab.es/">niño/a</a></li>
                    <li><a class="content-links-nav-a" href="https://adalab.es/">destacados</a></li>
                    <li><a class="content-links-nav-a" href="https://adalab.es/">tips</a></li>
                </ul>
            </nav>
            <nav class="content-links-nav">
                <ul>
                    <li><a class="content-links-nav-a" href="https://adalab.es/">twitter</a></li>
                    <li><a class="content-links-nav-a" href="https://adalab.es/">instagram</a></li>
                    <li><a class="content-links-nav-a" href="https://adalab.es/">youtube</a></li>
                </ul>
            </nav>
        </div>
        <div class="content-info">
            <p>&copy 2023</p>
            <p>we🧡run</p>
        </div>
    </div>

</footer>