<section class="section2">
    <!-- no se si deberia hacer una seccion de articulos y cambiar los nombres de los modulos -->
    <h2 class="section2-h2">
        Año nuevo, movimientos nuevos
    </h2>

    <div class="section2-content"> <!-- corregir esta clase? -->
        <include src="./section2article.html" title="Entrenamientos" text="Sesiones de running y entrenamientos">
        </include>
        <include src="./section2article.html" title="Cualquier nivel" text="Entrenamientos para cada nivel."> </include>
        <include src="./section2article.html" title="Exclusividad" text="Productos para miembros premium."> </include>
    </div>
    <div class="section2-btn"><a class="section2-btn-a" href="https://adalab.es/">Empezar ahora</a></div>
</section>