<section class="section1">
    <span class="section1-span">Los sentimientos nos inspiran</span>
    <article class="section1-article">
        <h2 class="section1-article-h2">Conecta Contigo</h2>
        <p class="section1-article-p">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la
            libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos
            hacen sentir. </p>
    </article>
    <!-- este igual lo hago boton boton para aprender -->
    <div class="section1-btn"><a class="section1-btn-a" href="https://adalab.es/">Comprar</a></div>
</section>