//animation

@keyframes twist {
    0% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(-90deg);
    }
}