//fonts


$font-title: 'Roboto Slab',serif;
$font-text:'Roboto-regular',sans-serif;
$font-textb:'Roboto-medium',sans-serif;
$defaultFontSize: 1.8rem;
$h1FontSize: 3rem;
$textFontSize: 1.6rem;

// $defaultFontSize: 62.5%;



// colors

 $--white: #fff;
 $--black: #000;
 $--greyish-brown: #4a4a4a;
 $--bright-orange: #f26002;
 $--black-20: rgba(0, 0, 0, 0.2);
 $--white-two: #f2f2f2;

$--color-text-a: $--white;
$--color-text-b: $--black;
$--color-text-c: $--greyish-brown;
$--color-text-d: $--bright-orange;
$--color-background-1: $--white;
$--color-background-2: $--white-two;
$--color-background-3: $--bright-orange;

//breakpoints

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;