.footer {
background-color: $--color-text-c;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding-bottom: 40px;
font-family: $font-text;
line-height: 30px;
    &-btn {
        position: relative;
        top: -20px;
       
             &-img {
                height: 45px;
                width: 45px;
                padding: 10px;
                border-radius: 50%;
                background-color: $--color-background-1;
                animation: example 5s linear 2s infinite reverse;
                animation-fill-mode: none;
    
            }

    }
    &-nav{ 
        text-align: center;
        margin-bottom: 20px;
        
        &-a { 
            font-size: $textFontSize;
            color: $--color-text-a;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 30px;
            }   
        }
    &-div  {
        color: $--color-text-a;
        font-size: 1.4rem;
        &-span {
            display: block;
        }

    }
}

@keyframes example {
    0% {
        transform: rotate(00deg);
    }

    25% {
        transform: rotate(40deg);
        
    }
    50% {
        transform: rotate(80deg);
        
    }
    75% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(180deg);
    }
}