.footer {
background-color: $--color-text-c;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding-bottom: 10px;
font-family: $font-text;


.content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
        @include tablet  {
            display: flex;
            flex-direction: row-reverse;
            gap: 239px;
            justify-content: center;
            align-items: flex-start;
            }
    &-links {
        @include tablet  {
             display: flex;
             flex-direction: row;
             gap: 200px;
        }
        &-nav {
            text-align: center;
            margin-bottom: 20px;
                @include tablet  {
                    text-align: justify;
                }
            &-a {
                @include t($textFontSize, 30px);
                color: $--color-text-a;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
  &-info {
      text-align: center;
      color: $--color-text-a;
      @include t(1.4rem, 30px);
      @include tablet {
            text-align: justify;
        }
  }

}

.btn {
    position: relative;
    top: -20px;
   
         &-img {
            height: 45px;
            width: 45px;
            padding: 10px;
            border-radius: 50%;
            background-color: $--color-background-1;
            animation: twist 1s linear 2s infinite alternate-reverse;
            animation-fill-mode: none;
        }
}
   
  
}

