
.hero {
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;

    &-article {
        color: $--color-text-a;
        text-align: center;
        margin: 0 auto;
        max-width: 300px;
        @include tablet  {
                max-width: 700px;
        }
        @include desktop {            
                max-width: 1000px;
        }

        &-h1 {  
            font-family: $font-title;
            text-transform: uppercase;
            @include t($h1FontSize, 50px);
            @include tablet {
                @include t(7.5rem, 100px);
                                                
            }
            @include desktop {
                @include t(10rem, 132px);
                
            }  
    }
        &-p {
            
            font-family: $font-text;
            @include t($textFontSize, 19px);
             @include tablet {
                @include t(2.4rem, 28px);                   
                } 
        }

    }
    &-btn {
         margin-top: 20px;

        &-img {
            height: 40px;
            width: 40px;
            padding: 10px;
            border-radius: 50%;
            background-color: $--color-background-1;

        }
    }
}