
.hero {
    height: 100vh;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 40px;


    &-article {
        transform: scale(0.75);
        color: $--color-text-a;
        text-align: center;
        
    
        &-h1 {
            
             font-family: $font-title;
             font-size: $h1FontSize;
             line-height: 1.67;
        }
        &-p {
            
            font-family: $font-text;
            font-size: $textFontSize;
            line-height: 1.19;
            
        }

    }
    &-btn {
        // margin-top: 20px;

        &-img {
       
            height: 40px;
             width: 40px;
             padding: 10px;
            border-radius: 50%;
            background-color: $--color-background-1;

        }
    }
}