
.section1 {
    width: 90%;
    margin: auto;
    font-family: $font-text;
    display: flex;
    flex-direction: column;
    padding: 20px;

    @include desktop {
         padding: 20px 20% 20px 20%;
    
    }
    
    &-span {
        color: $--color-text-d;
        @include t(1.4rem, 30px);
        margin: 10px 0;
        @include tablet  {
                @include t(1.6rem, 30px);
            }
    }
    &-article-h2 {
        color: $--color-text-b;
        font-family: $font-title;
        @include t(2.4rem, 30px);
        margin-bottom: 10px;
        @include tablet  {
                @include t(3.2rem, 45px);
            }
    }
    &-article-p {
        color: $--color-text-c;
        @include t($defaultFontSize, 30px);
        margin-bottom: 10px;
        @include tablet  {
            @include t(2rem, 30px);
                max-width: 900px;
            }
    }
    
    &-btn {
        margin-bottom: 20px;
        &-a {
            display: inline-block;
            width: 160px;
            height: 45px;
            padding: 10px;
            border: solid 2px $--color-text-d;
            border-radius: 50px;
            text-align: center;
            font-family: $font-textb;
            color: $--color-text-d;
            @include t(2rem, 20px);
            text-decoration: none;
            transition: background-color .5s;
            &:hover {
                    background-color: $--color-background-3;
                    color: $--color-text-a;
                }
        }
    }

}
